
/*=================================================================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
}

header{
    width: 100%;
    min-width: 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

nav{

    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.shadow {
    box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.2);
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 700;
}

nav ul li a:hover {
    color: green;
}

.signup-btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    margin-right: 10px;
    color: #fff;
    background-image: linear-gradient(to top, rgb(182, 244, 146), rgb(51, 139, 147));
    font-weight: bold;
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
}

.signup-btn :hover{
    transform: scale(1.05)
}

/*=================================================================================*/

.wallpaper-home{
    background-image: url("assets/landscape.jpg");
    background-size: cover;
    padding: 50px;
}

.wallpaper-goal1{
    background-image: url("assets/goal1.jpg");
    background-size: cover;
    padding: 126px;
}

.wallpaper-goal2{
    background-image: url("assets/goal2.jpg");
    background-size: cover;
    padding: 126px;
}

.wallpaper-goal3{
    background-image: url("assets/goal3.jpg");
    background-size: cover;
    padding: 126px;
}

/*=================================================================================*/

.sec1{
    margin-top: 10%;
    max-width: 600px;
    width: 800%;
    min-width: 100vh;
    padding: 10px 10%;
}

.sec1 h1{
    font-size: 60px;
    color: #fff;
}

.sec1 p{
    margin: 10px 0 30px;
    color: white;
}

.sec2 {
    display:flex;
    align-items:center;
}

.sec2 p {
    margin: 10px 0 30px;
    color: #333;
}

.greenhead {
    font-size: 60px;
    color: forestgreen;
    padding-top: 5px;
}

.sec3 {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.sec3 h1 {
    font-size: 80px;
    color: #fff;
}

.sec4 {
    align-items:center;
}

.sec4 h2 {
    color: #00730e;
}

.sec4 p {
    margin: 10px 0 30px;
    color: #333;
}

/*=================================================================================*/

.titlegoal {
    padding: 40px;
    text-align: center;
}

.titlegoal h1 {
    font-size: 80px;
    color: #000;
}

.button-goals {
    margin-top: 25px;
    background-color: #c2fbd7;
    border-radius: 100px;
    color: #fff;
    background-image: linear-gradient(to top, rgb(182, 244, 146), rgb(51, 139, 147));
    cursor: pointer;
    padding: 7px 20px;
    text-align: center;
    transition: all 250ms;
    border: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
}

.button-goals:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px;
    transform: scale(1.05) rotate(-1deg);
}

section.wallpaper {
    margin: 50px;
    width: 100%;
    min-width: 100vh;
    background-position: center;
    background-size: cover;
    padding: 10px;
    overflow: hidden;
}

section.information {
    min-width: 100vh;
    padding: 20px 10%;
    background-color: white;
}

section.information2 {
    margin-top: 1%;
    min-width: 100vh;
    padding: 20px 10%;
    background-color: #dedede;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.4);
}

/*=================================================================================*/

.video-section {
    position: relative;
    height: 70vh; /* Full viewport height */
    width: 100%;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.youtube {
    display: flex;
    justify-content: center;
    align-items: center;
}

style.background{
    width: 200%;
}

/*=================================================================================*/

@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.5);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }

    
}

.unsdg{
    background-color: lightblue;
}

.goal1Card{
    background-image: url(assets/turbine_sunset2.jpg);
    background-size: cover;
    margin:100px 20px 20px 20px;
    padding: 50px 100px 400px 50px;
    background-color: rgba(7, 5, 42, 0.215);
    border-radius: 50px;
    text-align: left;
    width: 1200px;
    height: 600px;
    color: #fff;
}


.goal1Contentbox:hover{
    animation: fade-in 3s;
    animation-timeline: view(); 
}



.goal2Card{
    background-image: url(assets/melting_ice.jpg);
    background-size: cover;
    margin:100px 20px 20px 20px;
    padding: 50px 100px 400px 50px;
    background-color: rgba(7, 5, 42, 0.215);
    border-radius: 50px;
    text-align: left;
    width: 1200px;
    height: 600px;
}

.goal3Card{
    background-image: url(assets/forests.jpg);
    background-size: cover;
    margin:100px 20px 20px 20px;
    padding: 50px 100px 400px 50px;
    background-color: rgba(7, 5, 42, 0.215);
    border-radius: 50px;
    text-align: left;
    width: 1200px;
    height: 600px;
}

.goalHeading{
    font-size: 50px;
    color: white;
}

.goalButton{
    text-decoration: none;
    font-size: 30px;
    padding: 30px;
    display: flex;
    color: white;
    position: absolute;
    top: 550px;
    left: 500px;
    transition: 0.3s;
}

.goalButton:hover{
    background-color: #000; 
}





/* .goalsMenu h1{
    color: #fff;
    font-size: 30px;
}

.goalsBillboard{
    background-color: darkgray;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 450px;
    width: 500px;
    border-radius: 50px;
} */

div.content p {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.fard {
    padding: 200px;
}

.zoom {
    transition: transform .3s;
}

.zoom:hover {
    transform: scale(1.1);
}

.active{
    border-bottom: 3px solid #32312f;
}

/*=================================================================================*/

footer {
    background-color: #000;
    font-size: 0.9em;
    text-align: left;
    color: white;
    padding: 50px;
}

footer p {
    margin-top: 10px;
    color: gray;
}

/*=================================================================================*/

@media (max-width: 768px) {
    nav ul{
        display: flex;
        align-items: center;
    }

    .signup-btn{
        padding: 10px 20px;
    }

    .sec1 h1{
        font-size: 40px;
    }
}

/*=================================================================================*/

/*teaminfo page css*/

.page{
    background-color: #32312f;
}

.team{
    padding-top: 100px;
    height: 100vh;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 50px auto;
}

.row{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.row h1{
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
}

.row p{
    margin-top: 20px;
    color: #fff;
    text-align: center;
    border-left: 5px solid #f00;
    border-right: 5px solid #f00;
}

.mgt50px{
    margin-top: 50px;
}

.row .column{
    margin: 0 10px;
    position: relative;
    width: calc(25% - 20px);
    min-height: 200px;
    background: #fff;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}

.row .column:before{
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 187, 255);
    z-index: 1;
    transition: 0.5s;
    mix-blend-mode: soft-light;
}

.row .column:hover:before{
    bottom: 0;
}

.row .column .imgBox{
    position: relative;
}

.row .column .imgBox img{
    width: 100%;
    height: auto;
    transition: 5s;
}

.row .column:hover .imgBox img{
    transform: scale(1.25);
}

.row .column .details{
    position: absolute;
    bottom: -70px;
    left: 0;
    padding: 15px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    transition: 0.5s;
    z-index: 2;
}

.row .column:hover .details{
    bottom: -20px;
}

.row .column .details h3{
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
}

.row .column .details h3 span{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #f00;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    top: -6px;
}

.bio {
    font-size: 12px; 
    color: #333; 
    line-height: 1.5; 
}

/*--------------------------------------*/

/*Newslet*/

.signup-content{
    padding: 100px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(background.png);
    
}

