*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    min-width: 100vh;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}

nav{
    padding: 10p    x 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #76de91;
    border-radius: 15px;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.signup-btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(to top, rgb(182, 244, 146), rgb(51, 139, 147));
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
}

.signup-btn :hover{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradientrgb(51, 139, 147);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
}

body.wallpaper {
    background-image: url("assets/landscape.jpg");
    background-size: cover;
}


.content{
    margin-top: 10%;
    max-width: 600px;
}

.content h1{
    font-size: 70px;
    color: #222;
}

.content p{
    margin: 10px 0 30px;
    color: #333;
}

hr.rounded {
    border-top: 3px solid #bbb;
}

section{
    width: 100%;
    min-width: 100vh;
    background-position: center;
    background-size: cover;
    padding: 10px;
    overflow: hidden;
}

style.background{
    width: 200%;
}